<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SavegameAutoBackupAgent.Tests.General" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SavegameAutoBackupAgent.Tests.General>
            <setting name="GameProfilesGitRepo" serializeAs="String">
                <value>https://github.com/DrSpaceMonkey/SavegameAutoBackupProfiles.git</value>
            </setting>
            <setting name="MasterProfilesFolder" serializeAs="String">
                <value>MasterProfiles</value>
            </setting>
            <setting name="LocalProfilesFolder" serializeAs="String">
                <value>MyProfiles</value>
            </setting>
        </SavegameAutoBackupAgent.Tests.General>
    </applicationSettings>
</configuration>